<!--  Component for displaying a table of cases. -->

<table border="1" cellpadding="5">
			<tr>
				<td>
					<button type="button">Case</button>
				</td>
				<td>
					<button type="button">Patient Name</button>
				</td>
				<td>
					<button type="button">Status</button>
				</td>
				<td>
					<button type="button">Age</button>
				</td>
				<td>
					<button type="button">Gender</button>
				</td>
				<td>
					<button type="button">Priority</button>
				</td>
				<td>
					<button type="button">Date</button>
				</td>
			</tr>
			{% for case in cases %}
			<tr>

				<td><a href="{% url 'display_case' case.case_ref.id %}" target="_blank">Case {{case.case_ref.id}}</a></td>
				<td><a href="{% url 'display_patient' case.patient_ref.id %}" target="_blank">
						{{case.patient_ref.last_name}}, {{case.patient_ref.first_name}} </a></td>
				<td><select>
						<option value="pending(not seen)">pending(not seen)</option>
						<option value="pending(seen)">pending(seen)</option>
						<option value="completed" selected>completed</option>
				</select></td>
				<td>{{case.age}}</td>
				<td>{{case.patient_ref.gender}}</td>
				<td>5
					<button type="button">Edit</button>
				</td>
				<td>{{case.case_ref.date_opened}}</td>
				{% endfor %}
			</tr>
		</table>