<!--  Component for displaying a tree of comments. -->
<div class="media">
	<div class="media-object pull-left" id="avatarcontainer"
		style="display: inline-block; height: auto; min-height: 110px; width: auto; min-width: 100px;">

		<img src="http://i.imgur.com/py2Th5m.png"
			style="display: inline-block; max-width: 64px; max-height: px; width: auto; height: auto;">
		<br>{{comments.time_posted.time}}
		<br>{{comments.time_posted.date}}

	</div>
	<div class="media-body">
		<div style="height: auto; min-height: 110px;">
			<h4 class="media-heading">{{comments.author.first_name}}
				{{comments.author.last_name}}</h4>
			{{comments.text}}
		</div>
		{%if comments.children|length > 0 %}
		{%for child in comments.children.all %}
		{%with comments=child template_name="_commentDisplay.html" %} 
		{%include template_name%}
		{%endwith%} 
		{%endfor%} 
		{%endif%}
	</div>
</div>
