<!--  Component for displaying a tree of comments. -->
<div class="media">
	<div class="media-object pull-left" id="avatarcontainer"
		style="display: inline-block; height: auto; min-height: 80px; width: auto; min-width: 80px;">

		<!--  Show profile picture -->
		{%if comments.comment_reference.author.doctor%}
			<img src="/media/{{comments.comment_reference.author.doctor.profile_pic}}"
					style="display: inline-block; max-width: 64px; max-height: px; width: auto; height: auto;">
			<br>Doctor
		{%else%}
		<img src="/media/{{comments.comment_reference.author.worker.profile_pic}}"
					style="display: inline-block; max-width: 64px; max-height: px; width: auto; height: auto;">
			<br>Worker
		{%endif%}
	</div>
	<div class="media-body">
			<table width="100%" border = "0">
			    <col />
			    <col width="230 px" />
				<tr>
					<td>
						<b>{{comments.comment_reference.author.first_name}} {{comments.comment_reference.author.last_name}}:</b>
					</td>
					<td style="text-align: right">
						{{comments.comment_reference.time_posted.date}} at {{comments.comment_reference.time_posted.time}} GMT
					</td>
				</tr>
				<tr>
					<td>
						<div style="min-height: 55px; height: auto;">
							{{comments.comment_reference.text}}
							{%if comments.comment_reference.scans.all|length > 0%}
								<br>
								{%for scan in comments.comment_reference.scans.all %}
									
									{% include "_scanDisplay.html" %}
	
								{%endfor%}
							{%endif%}
						</div>
					</td>
					<td style="text-align: right; vertical-align: top;">
						{%if can_reply%}
						<a id="r{{comments.index}}" href="javascript:;" onclick="replyTo({{comments.comment_reference.id}});">Reply</a>
						{%endif%}
					</td>
				</tr>
			</table>
			<!--<span class="media-heading"><b>{{comments.comment_reference.author.first_name}} {{comments.comment_reference.author.last_name}}:</b></span>
			<span style="float: right"> {{comments.comment_reference.time_posted.date}} at {{comments.comment_reference.time_posted.time}} GMT</span>
			<br>
			{{comments.comment_reference.text}}
		</div>  -->
		<div id="a{{comments.comment_reference.id}}"> </div>
		{%if comments.children|length > 0 %}
			{%for child in comments.children %}
				{%with comments=child template_name="_commentDisplay.html" can_reply=False %} 
					{%include template_name%}
				{%endwith%} 
			{%endfor%} 
		{%endif%}
	</div>
</div>
