<!--  Component for displaying a tree of comments. -->
<div class="media">
	<div class="media-object pull-left" id="avatarcontainer"
		style="display: inline-block; height: auto; min-height: 80px; width: auto; min-width: 80px;">

		<img src="http://i.imgur.com/py2Th5m.png"
			style="display: inline-block; max-width: 64px; max-height: px; width: auto; height: auto;">
		{%if comments.author.doctor%}
		<br>	Doctor
		{%else%}
		<br>	Worker
		{%endif%}
	</div>
	<div class="media-body">
		<div style="height: auto; min-height: 80px;">
			<span class="media-heading"><b>{{comments.author.first_name}} {{comments.author.last_name}}:</b></span>
			<span style="float: right"> {{comments.time_posted.date}} at {{comments.time_posted.time}} GMT</span>
			<br>
			{{comments.text}}
		</div>
		{%if comments.children|length > 0 %}
		{%for child in comments.children.all %}
		{%with comments=child template_name="_commentDisplay.html" %} 
		{%include template_name%}
		{%endwith%} 
		{%endfor%} 
		{%endif%}
	</div>
</div>
