<!-- Script used by _commentDisplay. -->

<body>
	<div class="media" id="Country" style="display:none">
		<div class="media-object pull-left" id="avatarcontainer"
		style="display: inline-block; height: auto; min-height: 80px; width: auto; min-width: 80px;">

		<img src="http://upload.wikimedia.org/wikipedia/commons/3/32/Eduard_Khil.jpg"
			style="display: inline-block; max-width: 64px; max-height: px; width: auto; height: auto;">
		{%if viewer.doctor %}
			<br>Doctor
		{%else%}
			<br>Worker
		{%endif%}
		</div>
		<div class="media-body">
			<form id='commentform' method='post' action="{{comment_post_action}}">
				{% csrf_token %}
				<table width="100%" border = "0">
				    <col />
				    <col width="230 px" />
					<tr>
						<td>
							<b>Post Your Comment</b>
						</td>
						<td style="text-align: right">
							<a id="cancel" href="javascript:;" onclick="cancel();">Cancel</a>
						</td>
					</tr>
					<tr>
						<td>
							<div style="min-height: 55px; height: auto;">
								{{comment_form.comments}}
							</div>
						</td>
						<td style="text-align: right; vertical-align: top;">
							
						</td>
					</tr>
				</table>
				
				<input id="submitChanges" type="submit" name="submitChanges" value="Submit Changes" />
			</form>
		</div>
	</div>
	Hohoho
</body>

<script>

	<!-- Correct the display script. -->
	{{comment_form.comments.auto_id}}.style.resize = 'none';
	{{comment_form.comments.auto_id}}.rows = '3';
	{{comment_form.comments.auto_id}}.style.width = '100%';
	{{comment_form.comments.auto_id}}.style.height = '100px';

	var current_comment_id = -1;

	function replyTo(comment_id) {
		
		current_comment_id = comment_id;
		
		var parent_div_id = "a" + comment_id;
		var parent_div = document.getElementById(parent_div_id);
		var comment_box = document.getElementById("Country");
		parent_div.appendChild(comment_box);
		comment_box.style.display = 'block';

		var identifierElement = document.getElementById("{{comment_form.comment_id.auto_id}}");
		alert(comment_id);
		identifierElement.setValue(comment_id);
		
		// Hide all reply buttons.
		for (i = 0; i < {{comment_count}}; i++) {
			var reply_button_id = "r" + i;
			var reply_button = document.getElementById(reply_button_id);
			reply_button.style.display = 'none';
		}
	}
	
	function cancel() {
		
		var parent_div_id = "a" + current_comment_id;
		var parent_div = document.getElementById(parent_div_id);
		var comment_box = document.getElementById("Country");
		// parent_div.appendChild(comment_box);
		comment_box.style.display = 'none';
		
		// Show all reply buttons.
		for (i = 0; i < {{comment_count}}; i++) {
			var reply_button_id = "r" + i;
			var reply_button = document.getElementById(reply_button_id);
			reply_button.style.display = 'block';
		}
		
		{{comment_form.comments.auto_id}}.value = '';
	}
</script>