<!--  Component for displaying the header bar at the top of the site. -->

<!--- Assume headerStyle.css (in static/) has been loaded.--->
<!--- Assume there is a {{user}} template variable containing the current
	  logged in user information. .--->


<div class="topBar">
<div class="topBarContents">

       
	<span id="titleTop">Ultra-Remote-Medicine</span>
        
    <span id="user-tools">
    	Welcome, <strong>{{user.first_name}}</strong>.
                   
        Change password /          
        Log out
            
    </span>
   
</div>
</div>