{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<title>View Case | Ultra-Remote-Medicine</title>

  <link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
  <!--<script>
  		$( "#Adopttoggle" ).click(function() {
			$( "#ay" ).toggle();
		});
  </script>-->
  <style>
	label,input{
    display: inline-block;
    vertical-align: baseline;
    width: 140px;
	text-align: left;
	}
	label {
		color: #2D2D2D;
		font-size: 15px;
	}
   </style>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageCentered">
		<div class="profilecontainer">
			
			<h1><b>Case {{case_id}}</b></h1>
			<table border="0" cellpadding="5" style="display: inline-block; margin: 0 auto; text-align: left">
				<tr>
					<td style="height: 250 px; margin: 0; text-align: left;">
						<form action="{% url 'display_case' case_id 'p' %}" method="post"> {% csrf_token %}
							<br>Patient Name: {{lastName}}, {{firstName}}
							<br>U.R.M Patient ID: {{patient_id}}
							<br>Gender: {{gender}}
							<br>Regional Health ID: {{health_id}}
							<br>Case ID: {{case_id}}
							<br>Priority: {{priority_form.priority}}
							<!--{%if case.case_ref.lock_holder == None%}
								{%if viewer.doctor%}
									<button id="Adopttoggle">Adopt this case</button>
										<p id="ay">{{viewer.doctor}}</p>
										<p id="ay" style="display: none">None</p>
								{%else%}
									{{case.case_ref.lock_holder}}
								{%endif%}
							{%else%}
								{{case.case_ref.lock_holder}}
							{%endif%}-->
							<!--<br><label>Patient:</label> <a href="{% url 'display_patient' patient_id %}">  {{lastName}}, {{firstName}}</a>
							<br><label>U.R.M Patient ID:</label> {{patient_id}}
							<br><label>Gender:</label> {{gender}}
							<br><label>Regional Health ID:</label> {{health_id}}
							<br><label>Case ID:</label> {{case_id}}
							<br><label>Priority:</label> {{priority_form.priority}}-->
							<br>
						</form>
						<form action="{% url 'display_case' case_id 'a' %}" method="post"> {% csrf_token %}
							<br>Case holder: {{case.lock_holder.user.first_name}}
							{{case.case_ref.lock_holder.id}}
							<br>
							{%if viewer.doctor%}
								{{adopt_form.toggle_field}}
							{%else%}
								{{case.lock_holder.first_name}}
							{%endif%}
						</form>
						<form action="{% url 'display_case' case_id 's' %}" method="post"> {% csrf_token %}
							<br>Case Status: {{case.case_ref.status}}
							<br>
							{%if viewer.doctor%}
								{{status_form.status}}
							{%else%}
								{{case.case_ref.status}}
							{%endif%}
						</form>
					</td>
				</tr>
			</table>
				<h1>Comments</h1>
			
				<br>
				<b>{{submitter_comments.contents.0.comment_reference.author.first_name}} {{submitter_comments.contents.0.comment_reference.author.last_name}} (Submitter)</b>
				<br>
				{%for comment_entry in submitter_comments.contents%}
					{%with comments=comment_entry template_name="_commentDisplay.html" can_reply=True %} 
						{% include "_commentDisplay.html" %}
					{%endwith%}
				{%endfor%}
				<br>
				
				<!-- Reviewer comments -->
				{%for comment_group in reviewer_comments%}
					<br>
					<b>{{comment_group.contents.0.comment_reference.author.first_name}} {{comment_group.contents.0.comment_reference.author.last_name}}</b>
					<br>
					{%for comment_entry in comment_group.contents%}
						{%with comments=comment_entry template_name="_commentDisplay.html" can_reply=True %} 
							{% include "_commentDisplay.html" %}
						{%endwith%}
					{%endfor%}
				{%endfor%}
				
				<br>
				<br>
				<div id="defaultcommentlocation">
				
				</div>
				
				
		</div>
	</div>

</body>
</html>

{% include "_commentDisplayScript.html" %}
