{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<title>View Case | Ultra-Remote-Medicine</title>

  <link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageCentered">
		<div class="profilecontainer">
			
			<h1>Case {{case_id}}</h1>
			<table border="0" cellpadding="5" style="display: inline-block; margin: 0 auto; text-align: left">
				<tr>
					<td style="height: 250 px; margin: 0; text-align: left;">
						<form action="{% url 'display_case' case_id %}" method="post"> {% csrf_token %}
							<br>Patient Name: {{lastName}}, {{firstName}}
							<br>U.R.M Patient ID: {{patient_id}}
							<br>Gender: {{gender}}
							<br>Regional Health ID: {{health_id}}
							<br>Case ID: {{case_id}}
							<br>Priority: {{form.priority}}
							<br>
						</form>
					</td>
				</tr>
			</table>
				<br>
				<b>Submitter Comments</b>
				<br>
				{% include "_commentDisplay.html" %}
			
		</div>
	</div>

</body>
</html>
