{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <h1>{{name}}'s Page</h1>
  <table border="1" cellpadding="5">
    <tr>
      <td>
        <img src="doctor.png" width="104" height="142">
        <button type="button">Edit</button>
        <br></td>
      <td>
        <form>
          Name: {{name}} {{last_name}}
          <br></br>
        Specialties: {% for specialty in specialties %} {{specialty.name}}, {% endfor %}
        <br></br>
        Schedule:      {% for time_slot in schedule %} 
		         <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{time_slot.to_string}} 
		       {% endfor %}
      <br>
      <button type="button">Edit</button>
      <br>
      <input type="text" name="search">
      <button type="button">search</button>
    </form>
  </tr>
</table>

<h2>
<b>Cases</b>
</h2>

<table border="1" cellpadding="5">
    <tr>
      <td>
        <button type="button">Patient Name</button>
      </td>
      <td>
        <button type="button">Status</button>
      </td>
      <td>
        <button type="button">Age</button>
      </td>
      <td>
        <button type="button">Gender</button>
      </td>
      <td>
        <button type="button">Priority</button>
      </td>
      <td>
        <button type="button">Date</button>
      </td>
      <td>
        <button type="button">Link to cases</button>
      </td>

      {% for case in cases %}
   	<tr>

          <td>
            <br>
            <a href="http://www.google.ca" target="_blank"> {{case.patient_ref.last_name}}, {{case.patient_ref.first_name}} </a>
          </td>
          <td>
            <select>
              <option value="pending(not seen)">pending(not seen)</option>
              <option value="pending(seen)">pending(seen)</option>
              <option value="completed" selected>completed</option>
            </select>
          </td>
          <td>{{case.age}}</td>
          <td>Male</td>
          <td>
            5
            <button type="button">Edit</button>
          </td>
          <td>{{case.case_ref.date_opened}}</td>
          <td>
            <a href="http://www.google.ca" target="_blank">case-link 1</a>
          </td>
     {% endfor %}
</table>

</body>
    </html>
