{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <h1>{{name}}'s Page</h1>
  <table border="1">
    <tr>
      <td>
        <img src="doctor.png" width="104" height="142">
        <button type="button">Edit</button>
        <br></td>
      <td>
        <form>
          Name: {{name}} {{last_name}}
          <br></br>
        Specialty: {{speciality}}
        <br></br>
      Scheduale: Mon-Wed 10-5pm
      <br>
      <button type="button">Edit</button>
      <br>
      <input type="text" name="search">
      <button type="button">search</button>
    </form>
  </tr>
</table>
  <table border="1">
    <tr>
      <td>
        <button type="button">Patient Name</button>
      </td>
      <td>
        <button type="button">Status</button>
      </td>
      <td>
        <button type="button">Age</button>
      </td>
      <td>
        <button type="button">Gender</button>
      </td>
      <td>
        <button type="button">Priority</button>
      </td>
      <td>
        <button type="button">Date</button>
      </td>
      <td>
        <button type="button">Link to cases</button>
      </td>
      <tr>

        <td>
          <br>
          <a href="http://www.google.ca" target="_blank">patient 1</a>
        </td>
        <td>
          <select>
            <option value="pending(not seen)">pending(not seen)</option>
            <option value="pending(seen)">pending(seen)</option>
            <option value="completed" selected>completed</option>
          </select>
        </td>
        <td>30</td>
        <td>Male</td>
        <td>
          5
          <button type="button">Edit</button>
        </td>
        <td>2013/10/18</td>
        <td>
          <a href="http://www.google.ca" target="_blank">case-link 1</a>
        </td>
        <tr>
          <td>
            <br>
            <a href="http://www.google.ca" target="_blank">patient 2</a>
          </td>
          <td>
            <select>
              <option value="pending(not seen)">pending(not seen)</option>
              <option value="pending(seen)" selected>pending(seen)</option>
              <option value="completed">completed</option>
            </td>
            <td>57</td>
            <td>Female</td>
            <td>
              1
              <button type="button">Edit</button>
            </td>
            <td>2013/10/15</td>

            <td>
              <a href="http://www.google.ca" target="_blank">case-link 2</a>
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <a href="http://www.google.ca" target="_blank">patient 3</a>
            </td>
            <td>
              <select>
                <option value="pending(not seen)" selected>pending(not seen)</option>
                <option value="pending(seen)">pending(seen)</option>
                <option value="completed">completed</option>
              </select>
            </td>
            <td>64</td>
            <td>Male</td>
            <td>
              7
              <button type="button">Edit</button>
            </td>
            <td>2013/10/12</td>
            <td>
              <a href="http://www.google.ca" target="_blank">case-link 3</a>
            </td>
          </tr>
        </tr>
      </table>

</body>
    </html>
