{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<h1>
  {{first_name}}'s Dashboard
</h1>

<!-- Someone else can do the alignments.-->

<!-- The following is not visible by default-->
<span id='workerinfo'>
<form id='workerinfoform' method='post' action="">{% csrf_token %}
<table border="0" cellpadding="5" style="height:200px">
<tr>
<td style="width:300px">
	First Name: <input type="text" id="fWorkerFirstName" name="fWorkerFirstName" value='{{first_name}}'>
	<br> Last Name: <input type="text" id="fWorkerLastName" name="fWorkerLastName" value='{{last_name}}'>
	<br> Phone Number: <input type="text" id="fWorkerPhoneNumber" name="fWorkerPhoneNumber" value='{{phone_number}}'>
	<br> Address: <input type="text" id="fWorkerAddress" name="fWorkerAddress" value='{{address}}'>
</td>
<td style="width:300px">
	{{comments}}
</td>
</tr>
<tr>
<td>
	<input id="submitChanges" type="submit" name="submitChanges" value="Submit Changes"/>
	<input id="cancelEditButton" onclick="cancelEditMode()" type="button" name="cancelEditButton" value="Cancel"/> 
</td>
<td>

</td>
</tr>
</table>
</form>
</span>

<span id="workerstatic">
<table border="0" cellpadding="5"  style="height:200px">
<tr>
<td style="width:300px">
	First Name: {{first_name}}
	<br>Last Name: {{last_name}}
	<br>Phone Number: {{phone_number}}
	<br>Address: {{address}}
	<br> Registration Time: {{registration_time}}
	<br> 
</td>
<td style="width:300px">
	{{comments}}
</td>
</tr>
<tr>
<td>
	<input id="edit" onclick="enterEditMode()" type="submit" name="submit" value="Edit Profile"/>
</td>
<td>

</td>
</tr>
</table>
</span>


<h2>
<b>Cases</b>
</h2>

<table border="1" cellpadding="5">
    <tr>
      <td>
        <button type="button">Patient Name</button>
      </td>
      <td>
        <button type="button">Status</button>
      </td>
      <td>
        <button type="button">Age</button>
      </td>
      <td>
        <button type="button">Gender</button>
      </td>
      <td>
        <button type="button">Priority</button>
      </td>
      <td>
        <button type="button">Date</button>
      </td>
      <td>
        <button type="button">Link to cases</button>
      </td>

      {% for case in cases %}
   	<tr>

          <td>
            <br>
            <a href="http://www.google.ca" target="_blank"> {{case.patient_ref.last_name}}, {{case.patient_ref.first_name}} </a>
          </td>
          <td>
            <select>
              <option value="pending(not seen)">pending(not seen)</option>
              <option value="pending(seen)">pending(seen)</option>
              <option value="completed" selected>completed</option>
            </select>
          </td>
          <td>{{case.age}}</td>
          <td>Male</td>
          <td>
            5
            <button type="button">Edit</button>
          </td>
          <td>{{case.case_ref.date_opened}}</td>
          <td>
            <a href="http://www.google.ca" target="_blank">case-link 1</a>
          </td>
     {% endfor %}
</table>

<!-- csrf_token was removed, since this is simply a redirection button-->
<td><button type="button">Add New Case</button>
<form id="new_patient" action="{% url 'new_patient' %}" method='get'>
    <button type="submit">Add New Patient</button><br></td>
</form>

<script>
	var editMode = false;
	workerinfo.style.display = 'none';

	function enterEditMode() {
		editMode = true;

		workerstatic.style.display = 'none'
		workerinfo.style.display = 'block';

	}

	function cancelEditMode() {
		editMode = false;

		fWorkerFirstName.value = '{{first_name}}'
		fWorkerLastName.value = '{{last_name}}'

		workerstatic.style.display = 'block';
		workerinfo.style.display = 'none';
	}
</script>

</body>
</html>
