{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
<title>Field-Worker dashboard | Ultra-Remote-Medicine</title>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageContents">

		<h1>Dashboard: {{user.first_name}}</h1>

		<!-- Someone else can do the alignments.-->

		<!-- The following is not visible by default-->
		<span id='workerinfo'>
			<form id='workerinfoform' method='post' action="">
				{% csrf_token %}
				<table border="0" cellpadding="5" style="height: 200px">
					<tr>
						<td style="width: 300px; vertical-align: top">
							First Name: {{form.first_name}}
							<br>Last Name: {{form.last_name}}
							<br>Phone Number: {{form.phone_number}}
							<br>Address: {{form.address}}
						</td>
						<td style="width: 300px; vertical-align: top">
							{{form.comments}}</td>
					</tr>
					<tr style="height: 50px">
						<td><input id="submitChanges" type="submit"
							name="submitChanges" value="Submit Changes" /> <input
							id="cancelEditButton" onclick="cancelEditMode()" type="button"
							name="cancelEditButton" value="Cancel" /></td>
						<td></td>
					</tr>
				</table>
			</form>
		</span> <span id="workerstatic">
			<table border="0" cellpadding="5" style="height: 200px">
				<tr>
					<td style="width: 300px; vertical-align: top">
						First Name: {{user.first_name}}
						<br>Last Name: {{user.last_name}}
						<br>Phone Number: {{phone_number}} 
						<br>Address: {{address}} 
						<br>Registration Time: {{registration_time}} <br>
					</td>
					<td style="width: 300px; vertical-align: top">{{comments}}</td>
				</tr>
				<tr style="height: 50px">
					<td><input id="edit" onclick="enterEditMode()" type="submit"
						name="submit" value="Edit Profile" /></td>
					<td></td>
				</tr>
			</table>
		</span>


		<h2>
			<b>Cases</b>
		</h2>

		{% include "_caseDisplay.html" %}

		<!-- csrf_token was removed, since this is simply a redirection button-->
		<td><button type="button">Add New Case</button>
			<form id="new_patient" action="{% url 'new_patient' %}" method='get'>
				<button type="submit">Add New Patient</button>
				<br>
			</form></td>
		<form action=""></form>

	</div>

</body>

<script type="text/javascript">
	var editMode = false;
	workerinfo.style.display = 'none';
	{{form.comments.auto_id}}.style.resize = 'none';
	{{form.comments.auto_id}}.rows = '6';
	{{form.comments.auto_id}}.style.width = '280px';
	{{form.comments.auto_id}}.style.height = '100px';

	function enterEditMode() {
		editMode = true;

		workerstatic.style.display = 'none';
		workerinfo.style.display = 'block';

	}

	function cancelEditMode() {
		editMode = false;

		{{form.first_name.auto_id}}.value = '{{first_name}}';
		{{form.last_name.auto_id}}.value = '{{last_name}}';
		{{form.phone_number.auto_id}}.value = '{{phone_number}}';
		{{form.address.auto_id}}.value = '{{address}}';
		{{form.comments.auto_id}}.value = {{form.comments.auto_id}}.defaultValue;

		workerstatic.style.display = 'block';
		workerinfo.style.display = 'none';
	}
</script>

<body></body>

</html>
