{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Log in | Ultra-Remote-Medicine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
   <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
</head>
  <div class = "center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
     
   
  <div class="row">
    <div class="col-md-4"></div>
     
	        <div class="container">
				<div style="width:200px;, height:200px;"><img src="{% static "bootstrap/image/logo.jpg"%}" alt="header"  class="container"/></div>
			</div>
		
	</div>
  <div class="row">
    <div class="col-md-5"></div>
      <div class="col-md-4">
        <form class="form-horizontal" role="form" action="/login" method="post">
          <div class="form-group">
               <form id="login-form" action="{% url 'login' %}" method="post">
              {% csrf_token %}
          
            <div class="col-sm-5">
              <input type="username" class="form-control" id="username" name = "username" placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            
            <div class="col-sm-5">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </form>
          </div>
        </form>
      </div>
    </div>

  <script> //$(function(){
//     $('input[name="username"]').focus();
//     $('#submit').on('click',function(e){
//         validateAndSubmit();
//     });

//     $('#login-form').on('keypress','input', function(e){
//         var inputs = $(this).closest('form').find(':input');
//         if(e.keyCode===13){
//           if($(this).attr('name')==="password"){
//             $('#submit').click();
//           }
//           else{
//             inputs.eq(inputs.index(this)+ 1 ).focus();
//           }
//         }
//     });

//     function validateAndSubmit(){
//         //TODO:Validate. If not valid return false
//         $('#login-form').submit();
//     }
//     if(window.location.href.indexOf("?e=p") > -1){
//        alert("Password is wrong.");
//     }
//     if(window.location.href.indexOf("?e=a") > -1){
//         alert("Inactive account.");
//     }
//     if(window.location.href.indexOf("?e=u") > -1){
//         alert("User does not exists");
//     }
// });</script>
</html>
