<!--This is the page where field workers can add new patients-->

{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<title>Open new case | Ultra-Remote-Medicine</title>

<link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageCentered">

		<div class="profilecontainer">

			<h1>Open new case</h1>

			<form action="{% url 'new_case' 'X' %}" method="post"> {% csrf_token %}
				Patient: {{form.patient}} <br>
				Priority: {{form.priority}} <br>
				Comments: {{form.comments}} <br>
				<input type="submit" value="Submit" />
			</form>

		</div>
	</div>

</body>
</html>
