<!--This is the page where field workers can add new patients-->

{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<title>Register new patient | Ultra-Remote-Medicine</title>

<link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageCentered">

		<div class="profilecontainer">

			<h1>Register New Patient</h1>

			<form action="new_patient" method="post"> {% csrf_token %}
				First Name: {{form.first_name}} <br>
				Last Name: {{form.last_name}} <br>
				Sex: {{form.sex}} <br>
				Date of Birth: {{form.date_of_birth}} <br>
				Regional Health ID: {{form.health_id}} <br>
				GPS Coordinates: {{form.gps_coordinates}} <br>
				Address: {{form.address}} <br>
				Phone Number: {{form.phone_number}} <br>
				Email: {{form.email}} <br>
				Photo Link: {{form.photo_link}} <br>
				<input type="submit" value="Submit" />
			</form>

		</div>
	</div>

</body>
</html>
