{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<title>View patient | Ultra-Remote-Medicine</title>

<link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css"%}"/>
  <link type="text/css" rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
</head>

<body>
	{% include "_topBar.html" %}

	<div class="pageCentered">

		<div class="profilecontainer">

			<h1><b>Patient: {{firstName}} {{lastName}}</b></h1>
			<table border="0" cellpadding="5" style="display: inline-block; margin: 0 auto; text-align: left">
				<tr>
					<td style="width: 250px; height: 250 px; margin: 0; text-align: center;">
						<img id="patientPic" src="{{photo_link}}" style="display: inline-block; max-width:200px; max-height:200px; width: auto; height: auto;" />
					</td>
					<td style="height: 250 px; margin: 0; text-align: left;">
						<form action="">
							Name: {{lastName}}, {{firstName}}
							<br> U.R.M Patient ID: {{patient_id}}
							<br> Sex: {{gender}}
							<br> DOB: {{date_of_birth}}
							<br> Regional Health ID: {{health_id}}
							<br> GPS Coordinates: {{gps_coordinates}}
							<br> Address: {{address}}
							<br> Phone: {{phone}}
							<br> Email: {{email}} 
							<br>
						</form>
					</td>
				</tr>
			</table>
	
			<h1><b>Cases</b></h1>
	
			{% include "_caseDisplay.html" %}
			
			<br>
			
			{% if user.worker %}
			<form id="new_case" action="{% url 'new_case' patient_id %}" method='get'>
				<button class = "btn btn-default" type="submit">Add New Case</button>
				<br>
			</form>
			{% endif %}
			
		</div>

	</div>

</body>

</html>
