<!DOCTYPE html>

{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "headerStyle.css" %}" />
<title>View patient | Ultra Remote Medicine</title>
</head>

<body>

	{% include "_topBar.html" %}

	<div class="pageContents">

		<h1>Patient: {{firstName}} {{lastName}}</h1>
		<table border="1" cellpadding="5">
			<tr>
				<td><img src="patient.png" width="104" height="142" alt=""><br></td>
				<td>
					<form action="">
						Name: {{lastName}}, {{firstName}}
						<br> Gender: {{gender}}
						<br>DOB: {{date_of_birth}}
						<br> Patient ID: {{health_id}}
						<br>Phone:{{phone}}
						<br> Address:{{address}}
						<br> Email:{{email}} 
						<br>
						<button type="button">Edit</button>
						<br>
					</form>
				</td>
			</tr>
		</table>

		<h2>
			<b>Cases</b>
		</h2>

		{% include "_caseDisplay.html" %}

	</div>

</body>
</html>
